{% extends 'base.html.twig' %}

{% block title %}InfoCategory index{% endblock %}

{% block body %}
    <h1>InfoCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for info_category in info_categories %}
            <tr>
                <td>{{ info_category.id }}</td>
                <td>{{ info_category.title }}</td>
                <td>{{ info_category.color }}</td>
                <td>
                    <a href="{{ path('app_info_category_show', {'id': info_category.id}) }}">show</a>
                    <a href="{{ path('app_info_category_edit', {'id': info_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_info_category_new') }}">Create new</a>
{% endblock %}
