{% extends 'base.html.twig' %}

{% block title %}PlaylistCategory{% endblock %}

{% block body %}
    <h1>PlaylistCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ playlist_category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ playlist_category.title }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ playlist_category.color }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_playlist_category_index') }}">back to list</a>

    <a href="{{ path('app_playlist_category_edit', {'id': playlist_category.id}) }}">edit</a>

    {{ include('playlist_category/_delete_form.html.twig') }}
{% endblock %}
